/* STYLESHEET */
/* Created by Tsabita Vera Cyavrilla */

html, body { 
	height: 100vh;
	margin: 0; 
	overflow: hidden;	 
}

#map { 
	height: 100vh; 
	padding: 0; 
	margin: 0;
}

#sidebar {
	height: 100vh;
	background-color: #FFFFFF;
}

/* modal thingy */
.center {
    margin-top:50px;   
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}