/* STYLESHEET */
/* Created by Tsabita Vera Cyavrilla */

html, body { 
	height: 100vh; margin: 0; padding: none; 
}

#map { 
	height: 100vh; padding: none; margin: 0;
}

#sidebar {
	height: 100vh;
	background-color: #FFFFFF;
	padding-left: 20px;
}